* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.container h1 {
  padding: 30px;
  font-size: 30px;
}

/* HEADER */

.header {
  /* border: solid blue 2px; */

  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: lightgray 1px solid;
}

.top {
  /* margin-top: 10px; */
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  height: 40px;
}

.top input {
  width: 600px;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px grey;
}

.nav-top {
  display: flex;
  gap: 10px;
}

.nav-top .login-signup {
  display: flex;
  gap: 10px;
}
.nav-top .login-signup button {
  background-color: white;
  color: #017782;
  border: solid 2px #017782;
  padding: 8px;
  cursor: pointer;
}

.nav-top button {
  padding: 10px;
  background-color: #017782;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  border-width: 0px;
  cursor: pointer;
}

.header nav ul {
  display: flex;
  gap: 30px;
  padding: 15px;
  color: grey;
  font-size: 15px;
}

/* HERO */
.hero {
  height: 65vh;
  /* background-color: aqua; */
  position: relative;
}
.hero img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-bloc {
  background-color: white;
  position: absolute;
  top: 15%;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.hero-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  flex: 2;
  line-height: 40px;
}

.hero-bloc button {
  width: 100%;
  padding: 15px;
  background-color: #017782;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border-width: 0px;
  flex: 1;
  cursor: pointer;
}

/* HOME */

.header-section {
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
}

.price-filters {
  display: flex;
  gap: 10px;
  align-items: center;
}
.price-filters input {
  width: 100px;
  padding: 10px;
  background-color: white;
  border: solid 2px #017782;
  color: #017782;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

.price-filters button {
  background-color: #017782;
  border: solid 2px #017782;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
section {
  display: flex;
  flex-wrap: wrap;
  /* background-color: aqua; */
}

.article-container {
  margin: 9px;
  /* border: 2px solid blue; */
  display: flex;
}

.article {
  margin-top: 10px;
  /* border: solid red 1px; */
  width: 230px;
  height: 500px;
  padding: 5px;
}
.article p {
  line-height: 15px;
  font-size: 12px;
}

.lien {
  text-decoration: none;
  color: black;
}

.article .owner-infos {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
  height: 40px;
  color: grey;
}

.owner-infos img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.article .clothes {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center;
}

/* OFFER */

.offer {
  display: flex;
  /* background-color: aquamarine; */
  background-color: #eaedee;
  height: 85vh;
  justify-content: space-between;
}

.left {
  /* background-color: lightgreen; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer img {
  width: 500px;
  height: 600px;
  object-fit: cover;
  object-position: center;
}
.right {
  /* background-color: gray; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.informations {
  width: 500px;
  height: 600px;
  padding: 20px;
  font-size: 15px;
  line-height: 30px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.haut {
  padding: 30px;
  /* background-color: blue; */
  border-bottom: solid black 1px;
  flex: 3;
}

.informations span {
  font-weight: bold;
}
.price {
  font-size: 30px;
}

.bas {
  padding: 30px;
  background-color: white;
  /* background-color: blueviolet; */
  flex: 3;
}

.owner {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.owner img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.acheter {
  /* background-color: pink; */
  flex: 1;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.informations button {
  padding: 15px;
  background-color: #017782;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border-width: 0px;
}

/* SIGN-UP */

.signup {
  margin-top: 30px;
  /* background-color: #09b0ba; */
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup h1 {
  padding: 30px;
  font-size: 30px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.signup form input {
  padding: 10px;
  border: 0px;
  border-bottom: solid black 1px;
  outline: none;
}

.newsletter {
  /* background-color: #09b0ba; */
  width: 100%;
  display: flex;
  gap: 10px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.confidentialité {
  font-size: 14px;
  color: grey;
}

.inscription input {
  width: 300px;
  background-color: #017782;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}
.inscription {
  text-align: center;
  border: 0px;
  border-bottom: none;
}

.switch-connexion {
  margin-top: 10px;
  color: #017782;
  text-decoration: none;
  font-size: 14px;
}

/* LOADING */

.loading {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.loading p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #017782;
}

/* PUBLISH */

.background {
  background-color: #eaedee;
}

.form2 {
  background-color: #eaedee;
  width: 100%;
  display: flex;
  gap: 20px;
}

.photo-article {
  background-color: white;
  border-bottom: solid lightgray 1px;
  padding: 10px;
}

.photo-details {
  border: dotted black 1px;
  display: flex;
  justify-content: center;
}
.photo-details input {
  padding: 50px;
}

.title-description {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border-bottom: solid lightgray 1px;
}

.title-description div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: solid lightgray 1px;
}

.title-description input {
  width: 50%;
  padding: 10px;
  border: 0px;
  border-bottom: solid lightgray 1px;
}

.conditions-details {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border-bottom: solid lightgray 1px;
}

.conditions-details div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: solid lightgray 1px;
}
.conditions-details input {
  width: 50%;
  padding: 10px;
  border: 0px;
  border-bottom: solid lightgray 1px;
}
.form-price {
  background-color: white;
  border-bottom: solid lightgray 1px;
  padding: 10px;
}

.form-price-details {
  border-bottom: solid lightgray 1px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.form-price-details input {
  width: 50%;
  padding: 10px;
  border: 0px;
  border-bottom: solid lightgray 1px;
}
.ajouter {
  display: flex;
  justify-content: flex-end;
}

.ajouter button {
  background-color: #017782;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* PAIEMENT */

.paiement {
  background-color: #eaedee;
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  /* border: 2px solid black; */
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 60%;
  font-family: Arial, Helvetica, sans-serif;
}

.content h4 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.resume {
  /* background-color: white; */
  flex: 2;
  padding: 30px;
  border-bottom: solid black 1px;
}

.resume div {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}

.conclusion {
  /* background-color: white; */
  flex: 2;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: solid black 1px;
}

.conclusion div {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.conclusion .total-price {
  font-weight: bold;
  margin-bottom: 20px;
}

.stripe {
  /* background-color: lightgray; */
  flex: 1;
}

.payment-form {
  /* background-color: white; */
  width: 100%;
  padding: 30px;
}

.payment-form button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(16, 168, 16);
  color: white;
  font-size: 15px;
}

.succeeded {
  background-color: #eaedee;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.succeeded-content {
  background-color: white;
  height: 300px;
  width: 300px;
  color: #017782;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

/* FOOTER */

.footer {
  /* background-color: #017782; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}

.footer p {
  font-size: 12px;
  color: lightgray;
}

.footer :hover {
  text-decoration: underline;
  cursor: pointer;
}

.hide-menu {
  display: none;
}
.button-menu {
  display: none;
  width: 30px;
}

/* RESPONSIVE */

@media (max-width: 1060px) {
  .container {
    /* background-color: pink; */
    padding: 20px;
  }
  section {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    /* background-color: aqua; */
  }
  .nav-top {
    display: none;
  }
  .top input {
    width: 400px;
  }
  .button-menu {
    display: block;
    cursor: pointer;
  }
  .menu {
    background-color: white;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 20;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 100px;
  }

  .hero-bloc {
    display: none;
  }
  .login-signup {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .login-signup button {
    background-color: white;
    color: #017782;
    border: solid 2px #017782;
    padding: 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  .deconnexion {
    background-color: red;
    color: white;
    padding: 20px;
    border: 0px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  .publish {
    background-color: #017782;
    color: white;
    border: solid 2px #017782;
    padding: 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
}
@media (max-width: 400px) {
  .header-section {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .price-filters {
    justify-content: center;
  }
  .top input {
    display: none;
  }
}
