* {
  box-sizing: border-box;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}

/* HEADER */

.header {
  border: solid blue 2px;
}
.top {
  /* background-color: aqua; */
  border: 1px solid red;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 80%;
}

.header nav ul {
  display: flex;
  justify-content: start;
  gap: 30px;
}

/* hero */
.hero {
  height: 65vh;
  background-color: aqua;
}
.hero img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
